<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Single price grid component
        link(rel="icon" href="images/favicon-32x32.png")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap")
        link(rel="stylesheet", href="normalize.css")
        link(rel="stylesheet", href="style.css")
    body
        section
            div.column
                div.column-1
                    h1 Join our community
                    span 30-day, hassle-free money back guarantee
                    p Gain access to our full library of tutorials along with expert code reviews. Perfect for any developers who are serious about honing their skills.
            div.column
                div.column-2
                    h3 Monthly Subscription
                    span #[span.money $29] per month
                    p Full access for less than $1 a day
                    button Sign Up
                div.column-3
                    h3 Why Us
                    p Tutorials by industry experts Peer & expert code review Coding exercises Access to our GitHub repos Community forum Flashcard decks New videos every week 
    //this project created by Mohamed Maghraby